<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Show{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body>
    
    <header>
        <div class="container">
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='imagens/Isologo Show.png') }}" alt="Show" />
            </a>
            <nav>
                <a href="#" class="icon-contato">Contato</a>
                <a href="#" class="icon-ajuda">Ajuda</a>
                <span>|</span>
                <a href="/login" class="icon-login">Login</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="conteudo_principal">
        {% block conteudo_principal %}{% endblock %}
        </div>
    </main>

</body>
</html>