<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>
<body>
    
    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='imagens/Isologo Show.png') }}" alt="Show" />
            </div>
            <nav>
            <a href="#" class="icon-contato">Contato</a>
            <a href="#" class="icon-ajuda">Ajuda</a>
            <span>|</span>
            <a href="#" class="icon-login">Login</a>
            </nav>
        </div>
    </header>
    
    <h1>Cadastro</h1>

    <form action="/cadastro" method="POST">

        <div class="container">
            <label for="nome">Nome de Usuário</label>
            <input type="text"  name="nome" required minlength="3" placeholder="  " >
        </div>
        <div class="container">

            <label for="senha">Senha</label>
            <input type="text" name="senha" required minlength="3" placeholder="  ">

        </div>
        <div class="container">

            <label for="email">Email</label>
            <input type="email" name="email" required minlength="3" placeholder="  ">

        </div>
        <div class="container">

            <label for="telefone">Telefone</label>
            <input type="tel" name="telefone" required minlength="11" placeholder="  ">

        </div>
        <div class="container">

            <label for="data_nasc">Data de nascimento</label>
            <input type="date" name="data_nasc" required placeholder="  ">

        </div>
        <div class="container">

            <label for="CPF">CPF</label>
            <input type="number" name="cpf" required placeholder="  ">

        </div>
        <div class="container">

            <label for="CNH">CNH</label>
            <input type="number" name="cnh" required minlength="11" placeholder="  ">

        </div>
        <div class="container">
        <button type="submit">cadastrar</button>
        </div>
    </form>

    {{mensagem}}

    <a href="/login">Fazer login</a>


</body>
</html>