    {% extends "base.html" %}

    {% block title %}Login{% endblock %}

    {% block content %}
        
    <h1>Cadastrar Veículo</h1>


    <form id="formulario">
        <div class="conteudo">
        <label for="marca">Marca do Carro</label>
        <input type="text" id="marca" placeholder="Digite a marca do carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
        <label for="modelo">Modelo do Carro</label>
        <input type="text" id="modelo" placeholder="Digite o modelo do carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
        <label for="aluguel">Aluguel do Carro (Diária)</label>
        <input type="number" id="aluguel" placeholder="Digite o aluguel do carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>


        <div class="conteudo">
        <label for="cor">Cor do Carro </label>
        <input type="text" id="cor" placeholder="Digite a cor do carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>


        <div class="conteudo">
        <label for="cambio">Cambio do Carro </label>
        <select type="text" id="cambio" placeholder="Digite o cambio do carro">
            <option value="Manual">Manual</option>
            <option value="Automatico">Automático</option>
        </select>
        <br>
        <a>Mensagem de erro</a><br><br>
        </div>


        <div class="conteudo">
        <label for="portas">Portas do Carro </label>
        <input type="number" id="portas" placeholder="Digite o número de portas do carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
        <label for="airbag">Airbag</label>
        <input type="text" id="airbag" placeholder="Digite se há airbag no carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
        <label for="ar condicionado">Ar condicionado</label>
        <input type="text" id="ar_condicionado" placeholder="Digite se há ar condicionado no carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
        <label for="combustivel">Combustivel</label>
        <input type="text" id="combustivel" placeholder="Digite os combustiveis aceitos no carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
        <label for="quilometragem">quilometragem</label>
        <input type="number" id="quilometragem" placeholder="Digite a quilometragem do carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
        <label for="categoria">Categoria</label>
        <input type="text" id="categoria" placeholder="Digite a categoria do carro"
        ><br>
        <a>Mensagem de erro</a><br><br>
        </div>

        <button type="submit">Cadastrar</button>

    </form>



    <div id="carros_cadastrados"></div>



</center><script src="/static/cadastro_carro.js"></script>

{% endblock %}