<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ carro["modelo"] }}</title>
</head>
<body>
    <ul>
        <li>Marca: {{ carro["marca"] }}</li>
        <li>Modelo: {{ carro["modelo"] }}</li>
        <li>Aluguel: {{ carro["aluguel"] }}</li>
        <li>Cor: {{ carro["cor"] }}</li>
        <li>Cambio: {{ carro["cambio"] }}</li>
        <li>Portas: {{ carro["portas"] }}</li>
        <li>Airbag: {{ carro["airbag"] }}</li>
        <li>Ar condicionado: {{ carro["ar_condicionado"] }}</li>
        <li>Quilometragem: {{ carro["quilometragem"] }}</li>
        <li>Combustível: {{ carro["combustivel"] }}</li>
        <li>Categoria: {{ carro["categoria"] }}</li>
    </ul>
    
</body>
</html>