<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">

</head>
<body>

    <header>
        <div class="container">
            <div class="logo">
                <img src="{{ url_for('static', filename='imagens/Isologo Show.png') }}" alt="Show" />
            </div>
            <nav>
                <a href="#" class="icon-contato">Contato</a>
                <a href="#" class="icon-ajuda">Ajuda</a>
                <span>|</span>
                <a href="#" class="icon-login">Login</a>
            </nav>
        </div>
    </header>    
    
    <h1>Bem vindo, {{usuario["nome"]}}</h1>

    {% if carros_cadastrados %}

    <h2>Frota de carros</h2>
    <ul>
    {% for carro in carros_cadastrados %}
        <a href="{{ url_for('detalhar_carro', carro_id = carro['id']) }}"><div><li>
    <ul>
        <li>Marca: {{ carro["marca"] }}</li>
        <li>Modelo: {{ carro["modelo"] }}</li>
        <li>Aluguel: {{ carro["aluguel"] }}</li>
        <li>Cor: {{ carro["cor"] }}</li>
        <li>Cambio: {{ carro["cambio"] }}</li>
        <li>Portas: {{ carro["portas"] }}</li>
        <li>Airbag: {{ carro["airbag"] }}</li>
        <li>Ar condicionado: {{ carro["ar_condicionado"] }}</li>
        <li>Quilometragem: {{ carro["quilometragem"] }}</li>
        <li>Combustível: {{ carro["combustivel"] }}</li>
        <li>Categoria: {{ carro["categoria"] }}</li>
    </ul>
        </li></div></a><br>
        
    {% endfor %} 
    </ul>
    
    {% else %}

    <p>Não há carros cadastrados no momento</p>

    {% endif %}




    {% if usuario["admin"] %}
    <a href="/cadastro_carro">Cadastrar novos carros</a>
    {% endif %}
    <a href="/logout"> Logout</a>
</body>
</html>