{% extends "base.html" %}

{% block title %}Login{% endblock %}


{% block conteudo_principal %}

<div class="painel_pesquisa">
    <div class="formulario_pesquisa">
        <form class="formulario_pesquisa" action="#">
            <div class="local_retirada">
                <input type="text" placeholder="local de retirada"/>
            </div>
            <div class="data" title="Data de retirada e horário">
                <input type="date" aria-label="Data de retirada"/>
                <input type="time" aria-label="Hora de devolução"/>
            </div>
            <button type="submit">Pesquisar</button>
        </form>
    </div>
</div>
<br><br><br>




 {% if carros_cadastrados %}

    <h2>Frota de carros</h2>
    <ul>
    {% for carro in carros_cadastrados %}
        <a href="{{ url_for('detalhar_carro', carro_id = carro['id']) }}"><div><li>
    <ul>
        <li>Marca: {{ carro["marca"] }}</li>
        <li>Modelo: {{ carro["modelo"] }}</li>
        <li>Aluguel: {{ carro["aluguel"] }}</li>
        <li>Cor: {{ carro["cor"] }}</li>
        <li>Cambio: {{ carro["cambio"] }}</li>
        <li>Portas: {{ carro["portas"] }}</li>
        <li>Airbag: {{ carro["airbag"] }}</li>
        <li>Ar condicionado: {{ carro["ar_condicionado"] }}</li>
        <li>Quilometragem: {{ carro["quilometragem"] }}</li>
        <li>Combustível: {{ carro["combustivel"] }}</li>
        <li>Categoria: {{ carro["categoria"] }}</li>
    </ul>
        </li></div></a><br>
        
    {% endfor %} 
    </ul>
    
    {% else %}

    <p>Não há carros cadastrados no momento</p>

    {% endif %}




    {% if usuario["admin"]==True %}
    <a href="/cadastro_carro">Cadastrar novos carros</a>
    {% endif %}

    <br>
    <a href="/logout">Limpar</a>

{% endblock %}