<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ usuario["nome"] }}</title>
</head>
<body>

    <p>Nome de usuário: {{ usuario["nome"] }}</p>

    <p>senha: {{ usuario["senha"] }}</p>

    <p>Email: {{ usuario["email"] }}</p>

    <p>Telefone: {{ usuario["telefone"] }}</p>

    <p>Data de nascimento: {{ usuario["data_nasc"] }}</p>

    <p>CPF: {{ usuario["cpf"] }}</p>

    <p>CNH: {{ usuario["cnh"] }}</p>




    
</body>
</html>