<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Show{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilo.css') }}">
</head>

<body>
        <header>
        <div class="container">   
            <a href="/" class="logo">
                <img src="{{ url_for('static', filename='imagens/Isologo Show.png') }}" alt="Show" />
            </a>
            <nav>
                <a href="/contato" class="icon-contato">Contato</a>
                <span>|</span>
                {% if usuario %}
                <a href="/perfil"class="icon-login">Perfil</a>
                {% else %}
                <a href="/login" class="icon-login">Login</a>
                {% endif %}
            </nav>
        </div>
    </header>

    <main>
        <div class="conteudo_principal">
        {% block conteudo_principal %}{% endblock %}
        </div>
    </main>

    <footer>
    <div class="footer_container">
        <div class="footer_section">
            <h4>Sobre</h4>
            <p>Este é um site de demonstração de aluguel de carros. Informações e serviços exclusivos para nossos usuários.</p>
        </div>
        <div class="footer_section">
            <h4>Links Úteis</h4>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
            </ul>
        </div>
        <div class="footer_section">
            <h4>Redes Sociais</h4>
            <ul class="socials">
                <li><a href="https://instagram.com" target="_blank">Instagram</a></li>
                <li><a href="https://twitter.com" target="_blank">Twitter</a></li>
                <li><a href="/contato">Whatsapp</a></li>
            </ul>
        </div>
    </div>
    <div class="footer_bottom">
        &copy; 2025 Show. Todos os direitos reservados.
    </div>
</footer>


</body>
</html>