    {% extends "base.html" %}

    {% block title %}Login{% endblock %}

    {% block conteudo_principal %}
        
    <h1>Cadastrar Veículo</h1>

<div class="form_container">
    <form class="form_simples input" id="formulario">
        <div class="conteudo">
            <label for="marca">Marca do Carro</label>
            <select type="text" id="marca">
                <option value="Marca_1">Marca_1</option>
                <option value="Marca_2">Marca_2</option>
                <option value="Marca_3">Marca_3</option>
                <option value="Marca_4">Marca_4</option>
                <option value="Marca_5">Marca_5</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="placa">Placa</label>
            <input type="text" name="placa" required placeholder="Digite a placa do carro">
            <a>Mensagem de erro</a>
        </div>
        

        <div class="conteudo">
            <label for="modelo">Modelo do Carro</label>
            <select type="text" id="modelo" >
                <option value="Modelo_1">Modelo_1</option>
                <option value="Modelo_2">Modelo_2</option>
                <option value="Modelo_3">Modelo_3</option>
                <option value="Modelo_4">Modelo_4</option>
                <option value="Modelo_5">Modelo_5</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="aluguel">Aluguel do Carro (Diária)</label>
            <input type="number" id="aluguel" placeholder="Digite o aluguel do carro"
            ><br>
            <a>Mensagem de erro</a><br><br>
        </div>


        <div class="conteudo">
            <label for="cor">Cor do Carro </label>
            <select type="text" id="cor" >
                <option value="Cor_1">Cor_1</option>
                <option value="Cor_2">Cor_2</option>
                <option value="Cor_3">Cor_3</option>
                <option value="Cor_4">Cor_4</option>
                <option value="Cor_5">Cor_5</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>


        <div class="conteudo">
        <label for="cambio">Cambio do Carro </label>
        <select type="text" id="cambio">
            <option value="Manual">Manual</option>
            <option value="Automatico">Automático</option>
        </select>
        <br>
        <a>Mensagem de erro</a><br><br>
        </div>


        <div class="conteudo">
            <label for="portas">Portas do Carro</label>
            <select type="text" id="portas">
                <option value="2_portas">2 portas</option>
                <option value="4_portas">4 portas</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="airbag">Airbag</label>
            <select type="text" id="airbag">
                <option value="sim_airbag">Sim</option>
                <option value="nao_airbag">Não</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="ar_condicionado">Ar condicionado</label>
            <select type="text" id="ar_condicionado">
                <option value="sim_ar_condicionado">Sim</option>
                <option value="nao_ar_condicionado">Não</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="combustivel">Combustivel</label>
            <select type="text" id="combustivel" >
                <option value="Gasolina">Gasolina</option>
                <option value="Etanol">Etanol</option>
                <option value="Diesel">Diesel</option>
                <option value="GNV">GNV</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="fornecedor">Fornecedor</label>
            <select type="text" id="fornecedor" >
                <option value="Fornecedor_1">Fornecedor_1</option>
                <option value="Fornecedor_2">Fornecedor_2</option>
                <option value="Fornecedor_3">Fornecedor_3</option>
                <option value="Fornecedor_4">Fornecedor_4</option>
                <option value="Fornecedor_5">Fornecedor_5</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="garagem">Garagem</label>
            <select type="text" id="garagem" >
                <option value="Garagem_1">Garagem_1</option>
                <option value="Garagem_2">Garagem_2</option>
                <option value="Garagem_3">Garagem_3</option>
                <option value="Garagem_4">Garagem_4</option>
                <option value="Garagem_5">Garagem_5</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="quilometragem">quilometragem</label>
            <input type="number" id="quilometragem" placeholder="Digite a quilometragem do carro">
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="capacidade_pessoas">Capacidade de pessoas</label>
            <input type="number" id="capacidade_pessoas" placeholder="Digite a capacidade de pessoas  "
            ><br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="categoria">Categoria</label>
                <select type="text" id="categoria">
                <option value="Categoria_luxo">Luxo</option>
                <option value="Categoria_Econômica">Econômica</option>
                <option value="Categoria_esportiva">Esportiva</option>
                </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="preco_diaria">Preço da diária</label>
            <input type="number" id="preco_diaria" placeholder="Digite o valor da diária.">
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="preco_compra">Preço da compra</label>
            <input type="number" id="preco_compra" placeholder="Digite o valor da compra.">
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>
        
        <div class="conteudo">
            <label for="disponivel">Disponibilidade</label>
            <select type="text" id="disponivel">
                <option value="True">Sim</option>
                <option value="False">Não</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <div class="conteudo">
            <label for="plano_seguro">Plano de seguro</label>
            <select type="text" id="plano_seguro" >
                <option value="Cobertura_total">Cobertura total</option>
                <option value="Cobertura_parcial">Cobertura parcial</option>
                <option value="Sem_cobertura">Sem cobertura</option>
            </select>
            <br>
            <a>Mensagem de erro</a><br><br>
        </div>

        <button type="submit">Cadastrar</button>

    </form>
</div>


    <div id="carros_cadastrados"></div>



</center><script src="/static/cadastro_carro.js"></script>

{% endblock %}