{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block conteudo_principal %}

    <h1>Fale Conosco</h1>

    <div class="simples_container">
        
        <p>
            <strong>Telefone / WhatsApp:</strong><br> 
            (11) 99568-2558
        </p>

        <p>
            <strong>E-mail:</strong><br> 
            contato@SHOW_locadora.com.br
        </p>

        <p>
            <strong>Instagram:</strong><br>
            <a href="https://instagram.com" target="_blank" class="link-social">@SHOW_locadora</a>
        </p>

        <p>
            <strong>Twitter (X):</strong><br>
            <a href="https://twitter.com" target="_blank" class="link-social">@SHOW_locadora</a>
        </p>
        
        <br>
        <div style="text-align: center;">
            <a href="/" style="color: #ff6606; font-weight: bold; text-decoration: none;">Voltar para o início</a>
        </div>

    </div>

{% endblock %}