{% extends "base.html" %}

{% block title %}Detalhar Carro{% endblock %}

{% block conteudo_principal %}
<div class="detalhar-container">
    
    <form action="{{ url_for('detalhar_carro', carro_id=carro.id) }}" method="POST">
        <input type="hidden" name="carro_id" value="{{ carro.id }}">
        
        <div class="setor-esquerdo">
            <div class="carro-imagem-detalhe">
                <img src="{{ url_for('static', filename='imagens/' + carro.id|string + '.jpg') }}" alt="{{ carro.id_modelo }}">
            </div>
            <div class="carro-informacoes">
                <h2>{{ marca }} {{ modelo }}</h2>
                <ul>
                    <li><strong>Aluguel:</strong> R$ {{ carro.preco_diaria }}</li>
                    <li><strong>Cor:</strong> {{ carro.cor }}</li>
                    <li><strong>Câmbio:</strong> {{ carro.cambio }}</li>
                    <li><strong>Portas:</strong> {{ carro.portas }}</li>
                    {% if carro.airbags %}
                    <li><strong>Airbag:</strong> Sim</li>
                    {% else %}
                    <li><strong>Airbag:</strong> Não</li>
                    {% endif %}
                    {% if carro.ar_condicionado %}
                    <li><strong>Ar condicionado:</strong> Sim</li>
                    {% else %}
                    <li><strong>Ar condicionado:</strong> Não</li>
                    {% endif %}
                    <li><strong>Quilometragem:</strong> {{ carro.quilometragem }}</li>
                    <li><strong>Combustível:</strong> {{ combustivel }}</li>
                    <li><strong>Categoria:</strong> {{ categoria }}</li>
                </ul>
            </div>
            
            <div class="opcoes-entrega">
                <h3>Opções de Entrega e Devolução</h3>
                <div class="form_simples">
                    <div class="campo">
                        <label for="horario_entrega">Horário de entrega</label>
                        <input type="datetime-local" name="horario_entrega" required>
                    </div>
                    <div class="campo">
                        <label for="local_devolucao">Local de devolução</label>
                        <select name="local_retirada">
                            <option value="">Selecione uma garagem</option>
                            {% for garagem in garagens %}
                                <option value="{{ garagem.id }}">Garagem {{garagem.bairro}} - {{garagem.cidade}}</option>
                            {% endfor %}
                       </select>
                    </div>
                    <div class="campo">
                        <label for="horario_devolucao">Horário de devolução</label>
                        <input type="datetime-local" name="horario_devolucao" required>
                    </div>
                        <div class="linha_form centralizar_botao">
                            <button class="form_simples" type="submit">Avançar</button>
                        </div>
                </div>
            </div>
        </div>

    </form>
    </div>
{% endblock %}