{% extends "base.html" %}

{% block title %}Detalhar Carro{% endblock %}

{% block conteudo_principal %}
<div class="detalhar-container">
    
    <form action="{{ url_for('detalhar_carro', carro_id=carro.id) }}" method="POST">
        <input type="hidden" name="carro_id" value="{{ carro.id }}">
        
        <div class="setor-esquerdo">
            <div class="carro-imagem-detalhe">
                <img src="{{ url_for('static', filename='imagens/' + carro.id|string + '.jpg') }}" alt="Meramente ilustrativo">
            </div>
            <div class="carro-informacoes">
                <h2>{{ marca }} {{ modelo }}</h2>
                <ul>
                    <li><strong>Aluguel:</strong> R$ {{ carro.preco_diaria }}</li>
                    <li><strong>Cor:</strong> {{ carro.cor }}</li>
                    <li><strong>Câmbio:</strong> {{ carro.cambio }}</li>
                    <li><strong>Portas:</strong> {{ carro.portas }}</li>
                    {% if carro.airbags %}
                    <li><strong>Airbag:</strong> Sim</li>
                    {% else %}
                    <li><strong>Airbag:</strong> Não</li>
                    {% endif %}
                    {% if carro.ar_condicionado %}
                    <li><strong>Ar condicionado:</strong> Sim</li>
                    {% else %}
                    <li><strong>Ar condicionado:</strong> Não</li>
                    {% endif %}
                    <li><strong>Quilometragem:</strong> {{ carro.quilometragem }}</li>
                    <li><strong>Combustível:</strong> {{ combustivel }}</li>
                    <li><strong>Categoria:</strong> {{ categoria }}</li>
                    <li><strong>Local de retirada:</strong>Garagem {{ garagem.bairro }} - {{ garagem.cidade }}</li>
                </ul>
            </div>
            
            <div class="opcoes-entrega">
                <h3>Opções de Entrega e Devolução</h3>
                <div class="form-simples">
                    <div class="campo">
                        <label for="horario_entrega">Horário de entrega</label>
                        <input type="datetime-local" name="horario_entrega" required min="1900-01-01T00:00" max="2030-12-31T23:59">
                    </div>
                    <div class="campo">
                        <label for="local_devolucao">Local de devolução</label>
                        <select name="local_devolucao">
                            {% for garagem in garagens %}
                            <option value="Garagem {{ garagem.bairro }} - {{ garagem.cidade }}">Garagem {{ garagem.bairro }} - {{ garagem.cidade }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="campo">
                        <label for="horario_devolucao">Horário de devolução</label>
                        <input type="datetime-local" name="horario_devolucao" required min="1900-01-01T00:00" max="2030-12-31T23:59">
                        <button type="submit">Avançar</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
    </div>
    <h1>Avaliações</h1>
    {% for avaliacao in avaliacoes %}
    <h2>{{ avaliacao.texto }}</h2><br><br>
    <h2>Nota:{{ avaliacao.nota }}</h2>
    <br>
    {% endfor %}

{% endblock %}