    {% extends "base.html" %}

    {% block title %}Login{% endblock %}

    {% block conteudo_principal %}
    
    <h1>Login</h1>
    
    <div class ="form_container">
        <form class="form_simples input" action="/login" method="POST" novalidate>

            <div>
                <label for="nome">Nome de Usuário</label>
                <input type="text" id="nome" name="nome" required minlength="3" placeholder="  " >
            </div>

            <div>

                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required minlength="3" placeholder="  ">

            </div>        
            <button type="submit">Confirmar</button>
            <div class="mensagem_cadastro p">
                {{mensagem}}
                <p>Não está cadastrado? <a href="/cadastro">Cadastre-se</a></p> 
            </div>

        </form>
        
    </div>
    
    {% endblock %}
    

