{% extends "base.html" %}

{% block title %}Show{% endblock %}


{% block conteudo_principal %}

<div class="painel_pesquisa">
    <form class="formulario_pesquisa" action="/filtrar" method="post">
        
        <div class="linha_form">
            <div class="grupo_input largo">
                <label>Local de Retirada</label>
                <select name="local_retirada">
                    <option value="">Selecione uma garagem</option>
                    {% for garagem in garagens %}
                        <option value="{{ garagem.id }}">Garagem {{garagem.bairro}} - {{garagem.cidade}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_input pequeno">
                <label>Preço Min</label>
                <input name="minimo" type="number" placeholder="R$ 0"/>
            </div>

            <div class="grupo_input pequeno">
                <label>Preço Max</label>
                <input name="maximo" type="number" placeholder="R$ Max"/>
            </div>

        </div>

        <div class="linha_form">

            <div class="grupo_input medio">
                <label>Marca</label>
                <select name="marca">
                    <option value="">Todas</option>
                    {% for marca in marcas %}
                        <option value="{{ marca.id }}">{{ marca.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_input medio">
                <label>Modelo</label>
                <select name="modelo">
                    <option value="">Todos</option>
                    {% for modelo in modelos %}
                        <option value="{{ modelo.id }}">{{ modelo.nome }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="grupo_input medio">
                <label>Portas</label>
                <select name="porta">
                    <option value="">Qualquer</option>
                    <option value="2">2 Portas</option>
                    <option value="4">4 Portas</option>
                </select>
            </div>

            <div class="grupo_input medio">
                <label>Câmbio</label>
                <select name="cambio">
                    <option value="">Qualquer</option>
                    <option value="Manual">Manual</option>
                    <option value="Automático">Automático</option>
                </select>
            </div>
        </div>

        <div class="linha_form centralizar_botao">
            <button type="submit" class="btn_pesquisar">PESQUISAR</button>
        </div>

    </form>
</div>
<br><br>

{% if mensagem %}
    <h1>{{ mensagem }}</h1>
{% endif %}


{% if carros_cadastrados %}

    <h2 style="text-align: center; margin-bottom: 30px;">Frota Disponível</h2>
    
    <div class="frota_container">
        {% for carro in carros_cadastrados %}
            {% if carro and carro.disponivel %}
                
                
                <div class="card_carro">
                    
                    <div class="card_img_wrapper">
                        <img src="{{ url_for('static', filename='imagens/' ~ carro.id_modelo|lower ~ '.jpg') }}" 
                             alt="Foto do {{ carro.id_modelo }}"
                             onerror="this.onerror=null;this.src='https://via.placeholder.com/300x200?text=Sem+Foto';">
                    </div>

                    <div class="card_info">
                        {% for modelo in modelos %}
                         {% if carro.id_modelo == modelo.id %}
                            <h3 class="card_modelo">{{ modelo.nome }}</h3>
                        {% endif %}
                        {% endfor %}

                        {% for marca in marcas %}
                        {% if carro.id_marca == marca.id %}
                        <p class="card_marca">Marca: {{ marca.nome }}</p>
                        {% endif %}
                        {% endfor %}
                        <div class="card_preco">
                            <span>R$ {{ carro.preco_diaria }}</span> /dia
                        </div>
                        
                        <a href="{{ url_for('detalhar_carro', carro_id = carro.id) }}" class="botao_detalhes">Detalhes</a>
                    </div>
                </div>

            {% endif %}
        {% endfor %}
    </div>

{% else %}
    <p style="text-align: center;">Não há carros cadastrados ou disponíveis no momento.</p>
{% endif %}


{% if cargo != None %}
    {% if cargo == "administrador" %}
        <div style="text-align: center; margin-top: 40px;">
            <a href="/cadastro_carro" class="botao-detalhes" style="background-color: #333; border-color: #333; color: white; max-width: 250px; margin: 0 auto;">Cadastrar novos carros</a>
        </div>
    {% endif %}
{% endif %}

<div style="text-align: center; margin-top: 20px;">
    <a href="/logout">Sair da conta</a>
</div>




    {% if cargo !=None %}
        {% if cargo == "administrador" %}
    <a href="/cadastro_carro">Cadastrar novos carros</a>
        {% endif %}
    {% endif %}

    <br>
    <a href="/logout">Limpar</a>

{% endblock %}