{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block conteudo_principal %}

    <h1>Perfil</h1>

    <div class="simples_container">
        
        <p><strong>Nome de usuário:</strong> {{ usuario["nome"] }}</p>

        <p><strong>Senha:</strong> {{ usuario["senha"] }}</p>

        <p><strong>Email:</strong> {{ usuario["email"] }}</p>

        <p><strong>Telefone:</strong> {{ usuario["telefone"] }}</p>

        <p><strong>Data de nascimento:</strong> {{ usuario["data_nasc"] }}</p>

        <p><strong>CPF:</strong> {{ usuario["cpf"] }}</p>

        <p><strong>CNH:</strong> {{ usuario["cnh"] }}</p>
        
        <br>
        <div style="text-align: center;">
            <a href="/logout" style="color: red; font-weight: bold;">Sair da conta</a>
        </div>
    </div>

{% endblock %}