@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.conteudo a{
    visibility: hidden;
}

.conteudo.erro a{
    visibility: visible;
    color: red;
}
.container{
    max-width: 500px;
    margin: 0 auto;
}
form{
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
    margin-bottom: 20px;
}
form div{
    margin-bottom: 15px;
    text-align: center;
}
h1{
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(255, 254, 254);
    text-shadow: 2px 2px 4px black;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

body{
    font-family: "Work Sans";
    background-color: #ff6606;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
}

header {
    background-color: #ff6606;
    padding: 10px 0; 
    border-bottom: 1px solid #fff;
    display: flex;
    justify-content: center; 
  }
  header .container {
    max-width: 1100px; 
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    display: flex;
    align-items: center;
  }
  .logo img {
    height: 70px;
    margin-right: 10px;
  }
  .logo span {
    color: white;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 1.5px;
  }

  nav {
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    font-weight: 600;
    font-size: 14px;
  }
  nav a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  nav a:hover {
    text-decoration: underline;
  }

  .icon-contato::before {
    content: "\1F551"; 
  }
  .icon-ajuda::before {
    content: "\2753"; 
  }
  .icon-login::before {
    content: "\1F464"; 
  }

label{
    display: block;
    color: black;
    font-weight: 500;
    font-size: 14px;
    
}
a{
    color: black;
}

button[type="submit"] {
    background: white;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 4px 10px;
    cursor: pointer;
    font-weight: bold;
}

.form-container {
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 500px;
  margin-top: 80px;
  padding: 40px 30px;
  text-align: center;
  display: flex;
  justify-content: center; 
}