@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.conteudo a{
    visibility: hidden;
}

.conteudo.erro a{
    visibility: visible;
    color: red;
}
.container{
    max-width: 500px;
    margin: 0 auto;
}
form{
    align-items: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px;
    margin-bottom: 20px;
}
form div{
    margin-bottom: 15px;
    text-align: center;
}
h1{
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(255, 254, 254);
    text-shadow: 2px 2px 4px black;
    margin-top: 0;
    padding-top: 20px;
    text-align: center;
}

body{
    font-family: "Work Sans";
    background-color: #ff6606;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    min-height: 100vh;
}

label{
    display: block;
    color: black;
    font-weight: 500;
    font-size: 14px;
    
}
a{
    color: black;
}

button[type="submit"] {
    background: white;
    border: 2px solid #ddd;
    border-radius: 25px;
    padding: 4px 10px;
    cursor: pointer;
    font-weight: bold;
}